<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>		
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 	
	<link href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>		
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">    
	<title>MERN Blog</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>      			
				<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> MERN Blog</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/blogs/new">New Post</a></li>				
				</ul>
			</div>	
		</div>
	</nav>
	<div class="container">