<% include ./partials/header %>

<div class="jumbotron text-center">
    <h1>Internal Error</h1>
    <span class="text-danger">Error 500</span>
    <p>There is a problem with the resource you are looking for, and it cannot be displayed</p>
    <p>Or you could just press this neat little button:</p>
    <a href="/" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i>Take Me Home</a>
</div>

<% include ./partials/footer %>