<% include ./partials/header %>

<div class="row">
	<h1 class="text-center">New Blogpost</h1>
	<div class="col-md-3"></div>
	<div class="col-md-6">		
		<form method="POST" action="/blogs">
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" name="title" class="form-control" id="title" placeholder="Title" required="">
			</div>
			<div class="form-group">
				<label for="image">Image Url:</label>
				<input type="text" name="image" class="form-control" id="image" placeholder="Image url" required="">
			</div>
			<div class="form-group">
				<label for="body">Your Post</label>
  				<textarea class="form-control" name="body" rows="5" id="body" placeholder="Type here something" required=""></textarea>
			</div>			
			<button type="submit" class="btn btn-success">Save</button>
			<a href="/blogs" class="btn btn-default">Cancel</a>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>

<% include ./partials/footer %>